
//Esto significa que se hace target a los div que sean desendientes directos del ReactModal
.ReactModalPortal > div{
	opacity: 0;
}

//Se hcae target al ReactModal__Overlay dentro de ModalPortal
.ReactModalPortal .ReactModal__Overlay{
	align-items: center;
	display: flex;
	justify-content: center;
	transition: opacity 200ms ease-in-out;
}


//Permite aplicar el estilo luego de que se abre el overlay
.ReactModalPortal .ReactModal__Overlay--after-open{
	opacity: 1;
}


//Permite aplicar el estilo antes de que se cierre el Overlay
//Se necesita agregar closeTimeoutMS={200} en el elemento Modal de OptionModal.js
.ReactModalPortal .ReactModal__Overlay--before-close{
	opacity: 0;
}

.modal{
	background: $light-blue;
	color: white;
	max-width: 30rem;
	outline: none;
	padding: $l-size;
	text-align: center;
}

.modal__title{
	margin: 0 0 $m-size 0;
}

.modal__body{
	font-size: 2rem;
	font-weight: 300;
	margin: 0 0 $l-size 0;
	//Permite que las palabras largas no ropan el Modal
	word-break: break-all;
}